body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #FFFFFF;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card1 { background-color: #6F98A8; }
.card2 { background-color: #2B8EAD; }
.card3 { background-color: #2F454E; }
.card4 { background-color: #2B8EAD; }
.card5 { background-color: #2F454E; }
.card6 { background-color: #BFBFBF; }   
.card7 { background-color: #BFBFBF; }  
.card8 { background-color: #6F98A8; }  
.card9 { background-color: #2F454E; } 


.row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 45px;
  width: 960px;
  background: #EFEFEF;
  border-top-style: inset;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 600px;
  height: 500px;    
}
 
.btn-sfl{
  background-color: #72C3DC;
    border: none;
    color: #FFFFFF;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 8px 20px;
    width: 170px;
    border-radius: 8px;
    border-bottom-style: outset;
    text-transform: uppercase;
}

.p-txt{    
  margin: auto;
  font-style: italic;
  font-size: 13px;
  margin-bottom: 20px;
}

.margin-tp{
  margin-top: 25px;
}


/* Responsive classes for mobile view 375px */
@media screen and (max-width: 375px) {
    .row {
      width: 375px;
      background: #FFFFFF;
      border-top-style: unset;
      grid-template-columns: unset;
      grid-gap: 0px;
    }

    .wrapper {
      width: 100%;
      display: block;
      margin-top: 50px;
      margin-bottom: 0px;
    }    

    .margin-tp {    
      display: inline-flex;
      position: absolute;
      margin-top: 0px;
      left: 22%;
    }

    .btn-sfl {
      margin: 0px 5px;
      width: 100px;
    }

    .card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9 {
      color: #000000;
      font-size: 45px;
    }
    .card1 { background: linear-gradient(to right, #6F98A8 5%, #EFEFEF 5%); }
    .card2 { background: linear-gradient(to right, #2B8EAD 5%, #EFEFEF 5%); }
    .card3 { background: linear-gradient(to right, #2F454E 5%, #EFEFEF 5%); }
    .card4 { background: linear-gradient(to right, #2B8EAD 5%, #EFEFEF 5%); }
    .card5 { background: linear-gradient(to right, #2F454E 5%, #EFEFEF 5%); }
    .card6 { background: linear-gradient(to right, #BFBFBF 5%, #EFEFEF 5%); }
    .card7 { background: linear-gradient(to right, #BFBFBF 5%, #EFEFEF 5%); }
    .card8 { background: linear-gradient(to right, #6F98A8 5%, #EFEFEF 5%); }
    .card9 { background: linear-gradient(to right, #2F454E 5%, #EFEFEF 5%); }
}